<% provide(:title, 'All facts') %>
<h1>All facts</h1>

<%= will_paginate %>

<table class="table table-hover">
	<thead>
		<tr>
		   <th>Question</th>
		   <th>Answer</th>
		   <th>Type</th>
		   <th>Options</th>
		</tr>
	</thead>
	<tbody>

	<%= render @facts %>

  </tbody>
</table>

<%= will_paginate %>


<%= button_to "New Fact", new_fact_path, class: "btn btn-inverse btn-large new_fact", method: :get %>
