/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html { 
  background: image-url("city5.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
*/
#menu {top: 0; width: 100%; height: 32px; background: black; opacity: 0.72;}
#logo {
	width:30%;
	height: 100%;
	text-align: center;
	float: left;
	color: white;
	position: relative;
	text-decoration:none;
}
#logotext {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16pt;
	top: 4px;
	text-decoration: none;
}
#sound_control {
	width: 10%;
	height: 32px;
	position: relative;
	top: 6px;
	float: right;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14pt;
	line-height: 14pt;
	color: white;
	text-align: center;
	vertical-align: center;
}
#sound_control:hover {cursor: pointer;}
#sound_off {color: white;}
#sound_off:hover {color: red;}
#sound_on {color: white;}
#sound_on:hover {color: green;}
#mainBox {
	background:#ffffff;
	opacity:0.8;
	width: 1050px;
	min-height: 500px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px;
}
#quizBox {background:#ffffff; opacity:0.8; text-align: center; width: 800px; height: 500px; -moz-border-radius: 10px; border-radius: 10px; position: relative; top: 50px; margin-left: auto; margin-right: auto; padding: 10px;}
/*#mainBox {border-width: 1; border: solid; border-color: dimgray; background:#ffffff; opacity:0.8; text-align: center; width: 800px; height: 500px; -moz-border-radius: 10px; border-radius: 10px; position: relative; top: 50px; margin-left: auto; margin-right: auto;}*/
#left_column {text-align: center; width: 33%; height: 78px; float: left}
#score {font-size: 1.8em; font-family: 'Open Sans Condensed', sans-serif; position: relative; top: 6px; color: gray}
#bonus {font-size: 3em; font-family: 'Open Sans Condensed', sans-serif; position: relative; top: 0; color: lightgray; float: right}
#power {position: relative; top: 48px; left: 22px; width: 0; height: 0; border-top: 140px solid gray; border-right: 40px solid transparent}
#power2 {position: relative; top: 118px; left: 22px; width: 0; height: 0; border-top: 70px solid gray; border-right: 20px solid transparent}
.statusMessage {font-size: 3.6em; font-family: 'Open Sans Condensed', sans-serif; position: relative; top: 6px; color: gray}
#right2 {text-align: center; width: 65%; height: 78px; float: right;}
#center_column {text-align: center; width: 48%; height: 78px; float: left;}
#right_column {text-align: center; width: 48%; height: 78px; float: right;}
#lifelist li {display: inline; list-style-type: none; padding-right: 20px}
.lives {width: 25px; height: 74px}
#question {position: relative; margin-right: auto; margin-left: auto; width: 80%; height: 100px; clear: both; color: dimgray; font-family: 'Abel', sans-serif; font-size: 2.6em}
#answers {position: relative; margin-top: 36px; font-family: 'Abel', sans-serif;}
#giveAnswer {position: relative; top: 26%; font-size: 2em; font-family: 'Abel', sans-serif;}
.answer_button {width: 44%; height: 90px; position: relative; margin-top: 6px; margin-bottom: 6px; margin-left: 5px; margin-right: 5px; font-size: 1.6em; font-family: 'Abel', sans-serif;}
.teach {background: lightgray; width: 70%; height: 120px; position: relative; margin-right: auto; margin-left: auto; -moz-border-radius: 10px; border-radius: 10px;}
.next_button {width: 20%; height: 48px; position: relative; top: 28px; float: right; margin-right: 128px; font-size: 1.8em; font-family: 'Abel', sans-serif; color: gray;}