// Place all the styles related to the Exams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#score {
	font-size: 2.8em;
	font-family: 'Open Sans Condensed', sans-serif;
	position: relative;
	color: gray;
	text-align: center;
	height: 60px;
}

#lifelist li {
	display: inline;
	list-style-type: none;
	/*padding-right: 20px*/

}

#lives {
	text-align: right;
	width: 25%;
	/*background: purple;*/
}

.deadman {
	color: lightgray;
	margin-left: 6px;
	margin-right: 6px;
}

.liveman {
	color: black;
	margin-left: 6px;
	margin-right: 6px;
}

.endresult {
	color: grey;
	font-size: 12em;
}

#headline {
	/*background-color: lightblue;*/
	/*height: 170px;*/
}

#message {
	text-align: center;
	font-size: 3.4em;
	font-family: 'Open Sans Condensed', sans-serif;
	position: relative;
	top: 15px;
	color: gray;
	width: 50%;
	text-align: center;
	/*background: lightblue;*/
	/*height: 170px;*/

}

#messtext {
	height: 60px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/*top: 6px;*/
	text-align: center;
}

#question {
	position: relative;
	margin-top: 24px;
	width: 100%;
	height: 150px;
	/*clear: both;*/
	color: dimgray;
	font-family: 'Abel', sans-serif;
	text-align: center;
	display: inline-block !important;
	vertical-align: middle;
	/*background: pink;*/
}

.big-question {
	font-size: 2.8em;
}

.med-question {
	font-size: 3.4em;
}

.small-question {
	font-size: 4.2em;
}

.btn-answer {
	width: 100% !important;
	min-height: 120px !important;
	position: relative;
	margin-top: 6px;
	margin-bottom: 0;
	margin-left: auto !important;
	margin-right: auto !important;
	/*font-size: 2.2em !important;*/
	font-family: 'Abel', sans-serif;
	white-space: normal !important;
}

.big-answer {
	font-size: 1.6em !important;
}

.med-answer {
	font-size: 2em !important;
}

.small-answer {
	font-size: 2.6em !important;
}

.answers {
	position: relative;
	top: 30px;
	font-family: 'Abel', sans-serif;
	/*background-color: lightblue;*/
}

.problems {
	/*display: none;*/
}

/*.finalSlide {
	display: none;
}*/