// Place all the styles related to the Facts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*#question_item {
	width: 40%;
	position: relative;
}

#answer_item {
	width: 30%;
	position: relative;
	left: 10px;
	right: 10px;
}*/

.fact_element {
	width: 100%;
	right: 10px;
	/*float: left;*/
}

.fact_inputs {
	width: 100%;
	/*float: left;*/
	position: relative;
	/*text-align: right;*/
}

.fact_button {
	text-align: center;
	position: relative;
	background-color: darkgray;
	  @include box_sizing;

}

.new_fact {
	position: relative;
	top: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  font-size: 1.8em;
}

label {
	font-size: 1.4em;
	font-family: sans-serif;
}

input, select {
  height: auto !important;
}

select {
	font-size: 1.2em;
}


