<div id="problem<%= @facts.index(@facts.last).to_int + 1 %>" class="finalSlide">
<!--<div class="jumbotron-icon">-->
	<div class="endresult">
		<h1>No lives left!</h1>
		<div class="col-md-12 text-center"><i class='fa fa-frown-o' id="sadguy"></i></div>
	</div>
</div>