<div id="problem<%= @facts.index(@facts.last).to_int + 1 %>" class="finalSlide">
	<div class="endresult">
		<h1>Good Job!</h1>
		<div class="col-md-12 text-center"><i class='fa fa-trophy' id="trophy"></i></div>
	</div>
</div>