<% provide(:title, 'Exam ' + @exam.id.to_s) %>
<%# provide(:title, @exam.id.to_s) %>
<div>
	ID: <%= @exam.id %>
</div>
<div>
	User: <%= @exam.user.name %>
</div>
<div>
	<strong>Facts:</strong>
</div>
<% @facts.each do |fact| %>
	<div class="row">
		<div class="span3">Question: <%= fact.question %></div>
		<div class="span9">Answer: <%= fact.answer %></div>
	</div>
<% end %>

