<% provide(:title, 'Exam ' + @exam.id.to_s) %>
<%# provide(:title, @exam.id.to_s) %>
<div class="row headline">
	<div class="span3" id="score">SCORE: 2000</div>
	<div class="span6" id="message">Awesome!</div>
	<div class="span3" id="lives">
		<ul id="lifelist">
			<li><i class='fa fa-male fa-3x'></i></li>
			<li><i class='fa fa-male fa-3x'></i></li>
			<li><i class='fa fa-male fa-3x'></i></li>
			<li><i class='fa fa-male fa-3x deadman'></i></li>
			<!--<li><img class="lives" src="redtielost.png"></li>-->
		</ul>
	</div>
</div>
<!--<div>
	User: <%= @exam.user.name %>
</div>
<div>
	<strong>Facts:</strong>
</div>
<% @facts.each do |fact| %>
	<div class="row">
		<div class="span3">Question: <%= fact.question %></div>
		<div class="span9">Answer: <%= fact.answer %></div>
	</div>
<% end %>-->

