<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "OPLEI - Product Trainer", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
          <li><a id="sound_on" onclick="soundManager.unmute('aSound');">Sound On</a></li>
          <li><a id="sound_off" onclick="soundManager.mute('aSound');">Sound Off</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>